{# templates/admin/event/new.html.twig #}
<h1>Create New Event</h1>
{{ form_start(form) }}
{{ form_row(form.name) }}
{{ form_row(form.nbrparticipants) }}
{{ form_row(form.date) }}
{{ form_row(form.place) }}
<button type="submit">Create Event</button>
{{ form_end(form) }}
